<div class="nav flex-column sidebar " aria-orientation="vertical">
    <a class="nav-link mb-2 " href="#" style="font-weight: bold; font-size: 15px;"><img src="../../../assets/img/photo.jpg" width="24" height="24" style="border-radius: 5px;" alt="photo"> Amna</a>
    <a class="nav-link active" href="#"> News Feed</a>
    <a class="nav-link" href="#">Profile</a>
    <a class="nav-link" href="#">Messages</a>
    <a class="nav-link" href="#">Setting</a>
    <p class="mb-2 text-secondary">Shortcuts</p>
    <a class="nav-link" href="#">link</a>
    <a class="nav-link" href="#">link</a>
    <p class="mb-2 text-secondary">Explore</p>
    <a class="nav-link" href="#">Groups</a>
    <a class="nav-link" href="#">Pages</a>
    <a class="nav-link" href="#">Events</a>
    <a class="nav-link" href="#">Saved</a>
</div>   